!!! 5
table(width=' 664', height='100%', cellspacing='0', cellpadding='0', border='0', style='background:#eee;margin:0 auto;padding:0;font-family:arial,sans-serif;color:#777;')
  tbody
    tr
      td
        table(width='664', cellspacing='0', cellpadding='0', border='0', style='text-align:center;margin:0 auto;padding:0;')
          tbody
            tr
              td(style='padding: 30px 0 20px 0;')
                div
                  img(alt='Bubbles', src='https://dggfi217fw9ys.cloudfront.net/app/themes/linkdev/assets/images/loader/Link_logo_vertical_color_light_RGB.png')
    tr
      td(style='padding:18px 30px 25px;margin:0;background:#fff;border:1px solid #ddd;box-shadow:0 0 4px #fff;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;border-radius:6px;over-flow:none; position: relative; border-bottom: none;\
      border-bottom-left-radius: 0; border-bottom-right-radius: 0;')
        table(width=' 664', cellspacing='0', cellpadding='0', border='0', style='text-align:left;margin:0 auto;padding:0;')
          tbody
            tr
              td
                div
                  div(style='margin:0;padding:0;')
                    h1(style='margin:0;padding:0;')
                      span(style='font-size:22px;font-weight:bold;color:#777;')
                        span(style='font-weight:normal;') Dear Valued Customer,
                  div(style='margin:20px 0 0; padding:0;')                   
                    p(style='margin:0;padding:0;line-height:26px;font-size:18px;color:#777;')
                      | Thank you for useing exchange online service!
                  div(style='margin:20px 0 0; padding:0;')                   
                    p(style='margin:0;padding:0;line-height:26px;font-size:18px;color:#777;')
                      | Let's see you tomorow morning :)
    tr
      td(style='background: #0d529f; height: 35px;')
        div(style='border-bottom-right-radius: 6px; border-bottom-left-radius: 6px;')
    tr
      td(style='padding:10px 0; margin:10px 0 60px;')
        table(width='664', cellspacing='0', cellpadding='0', border='0', style='text-align:center;margin:0 auto;padding:0;')
          tbody
            tr
              td(style='width: 120px;height: 50px;')
                div
              td(style='width: 320px;')
                div
                  p(style='margin:0;padding:0;font-size:15px;line-height:25px;color:#888')
                    | Email Templet Powered By
                  p(style='margin:0;padding:0;font-size:15px;line-height:25px;color:#888')
                    | Link Development
              td(style='width: 150px; text-align: left;')
                div
                  